= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :author_id, collection: @book.author.present? ? [@book.author] : Author.none, input_html: {}
    -#Author.none, input_html:{ 'data-selected': @book.author.present? ? @book.author.id : nil}
  .form-actions
    = f.button :submit
