= simple_form_for(@book) do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :author_id, collection: Author.all, as: :semantic_ui_select, prompt: 'Select author', multiple: true, search: true
    -#Author.none, input_html:{ 'data-selected': @book.author.present? ? @book.author.id : nil}
    .ui.selection.dropdown
      %input{:name => "gender", :type => "hidden"}
      %i.dropdown.icon
      .default.text Gender
      .menu
        .item{"data-value" => "1"}
          =fa_icon "male"
          Male
        .item{"data-value" => "0"}
          =fa_icon "female"
          Female

  .form-actions
    = f.button :submit
